@using OgrBilgiSistemi.Models.EntitiyFramework;
@model List<TblOgrenciler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Öğrenci Adı</th>
        <th>Öğrenci Soyadı</th>
        <th>Öğrenci Fotoğrafı</th>
        <th>Öğrenci Cinsiyet</th>
        <th>Öğrenci Kulübü</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.OgrAd</td>
                <td>@ogr.OgrSoyad</td>
                <td>@ogr.OgrFotoğraf</td>
                <td>@ogr.OgrCinciyet</td>
                <td>@ogr.OgrKulup</td>
                <td><a href="/Ogr/Sil/@ogr.OgrId"class="btn btn-danger">Sil</a>
                <a href="/Ogr/OgrGetir/@ogr.OgrId"class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Ogr/YeniOgr" class="btn btn-primary">Yeni Öğrenci Kaydı</a>


